<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" color-scheme="light dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="icon" type="image/x-xicon" href="{{ "images/logo/favicon.ico" | relURL }}">
    
    <!-- Google Fonts - Variable Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&family=Geist:wght@100..900&family=Crimson+Text:wght@400..700&display=swap" rel="stylesheet">
    
    {{ $style := resources.Get "css/style.css" }} {{ if $style }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    {{ end }}

    {{ $headerFooterStyle := resources.Get "css/header-footer.css" }} {{ if $headerFooterStyle }}
    <link rel="stylesheet" href="{{ $headerFooterStyle.RelPermalink }}" />
    {{ end }}

    {{ $homepageStyle := resources.Get "css/homepage.css" }} {{ if $homepageStyle }}
    <link rel="stylesheet" href="{{ $homepageStyle.RelPermalink }}" />
    {{ end }}
  </head>
  <body>
    

    <header>
      <nav>
        <a href="{{ .Site.BaseURL }}">
          <img src="{{ "images/assets/logo.png" | relURL }}" alt="ATMOS Lab Logo">
          <span>GEIGE</span>
        </a>
        
        <ul>
          {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
            {{ if .HasChildren }}
            <ul>
              {{ range .Children }}
              <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </nav>
    </header>

    <main>{{ block "main" . }}{{ end }}</main>

    <footer>
      <div>
        <div>
          <h3>GEIGE&trade;</h3>
          <p>
            Discover a curated collection of violins suitable for all levels,
            from beginners to professionals.
          </p>
        </div>
        <div>
          <h4>Quick Links</h4>
          <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}products/">Products</a></li>
            <li><a href="{{ .Site.BaseURL }}contact/">Contact</a></li>
            <li><a href="{{ .Site.BaseURL }}about/">About</a></li>
          </ul>
        </div>
        <div>
          <h4>Contact</h4>
          <p>9020150451</p>
          <p>Ambalathumbhagom, poruvazhy, kollam, kerala 690520</p>
        </div>
      </div>
      <div>
        <p>&copy; {{ now.Format "2006" }} GEIGE. All rights reserved.</p>
      </div>
    </footer>

  </body>
</html>
