{{ define "main" }}
  <!-- Hero Section -->
  <section>
    <h1>GEIGE&trade;</h1>
    <p>
      Discover a curated collection of violins suitable for all levels, from
      beginners to professionals.
    </p>
  </section>

  <section>
    <h1>Featured Products</h1>

    <div>
      {{ range .Site.Data.products.products}}
      <div>
        <h3>{{ .name }}</h3>
        <div>
          {{ range .images }}
          <img src="{{ . | relURL }}" />
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>
{{ end }}
