{{ define "main" }}
  <!-- Hero Section -->
  <section>
    <h1>GEIGE&trade;</h1>
    <p>
      Discover a curated collection of violins suitable for all levels, from
      beginners to professionals.
    </p>
  </section>

  <section id="products">
    <h1>Featured Products</h1>


    <div class="card-container container">
  {{ $products := where .Site.Data.products.products "name" "Geige-005" }}
  {{ range $products }}
    <span>{{ .name }}</span>
    <div class="card-group group">
      {{ range (.images | collections.Reverse) }}
        <div class="big-card card"
             style="background-image: url('{{ . | relURL }}');">
        </div>
      {{ end }}
    </div>
  {{ end }}
  <hr>
</div>





        <div class="card-container container">
  {{ $products := where .Site.Data.products.products "name" "Geige-004" }}
  {{ range $products }}
    <span>{{ .name }}</span>
    <div class="card-group group">
      {{ range (.images | collections.Reverse) }}
        <div class="big-card card"
             style="background-image: url('{{ . | relURL }}');">
        </div>
      {{ end }}
    </div>
  {{ end }}
  <hr>
</div>


     
   
     




    

    
   
  </section>
{{ end }}
