{{ define "main" }}
<section>
    <h1>{{ .Title }}</h1>
    <p>{{ .Content }}</section>

<section>
    <div>
        {{ range  .Site.Data.products.products}}
            <div>
                <img src="{{ index .images 0 | relURL }}" alt="{{ .name }}">
                <div>
                    <h3>{{ .name }}</h3>
                    <p>₹{{ .price }}</p>
                    <p>{{ .description }}</p>
                    <a href="{{ "/contact/" | relURL }}">Contact</a>
                </div>
            </div>
            {{ end }}
    </div>
</section>
{{ end }}
